* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif:
}

h1 {
    margin: 0 auto;
    font-size: 15px;
}

.logo {
    width: 50px;
    height: auto;
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;
}

.close-button {
    background-color: #ffcc00; /* Cor de fundo amarela */
    color: #333; /* Cor do texto do "X" */
    border: none;
    width: 30px; /* Largura */
    height: 30px; /* Altura (mesma que a largura para formar um círculo) */
    border-radius: 50%; /* Transformando em formato de círculo */
    font-size: 16px; /* Tamanho da fonte */
    line-height: 30px; /* Alinhar o "X" verticalmente */
    text-align: center; /* Alinhar o "X" horizontalmente */
    cursor: pointer; /* Cursor alterado para indicar que é um botão clicável */
}


section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd; /* Adicionando a linha cinza abaixo da navegação */
    margin: 0 auto;
    max-width: 1024px;
}

.primary-nav ul,
.secondary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.primary-nav li,
.secondary-nav li {
    margin-left: 10px;
}

.primary-nav li a,
.secondary-nav li a {
    color: black;
    text-decoration: none; /* Removendo o sublinhado */
    padding: 5px 10px;
}

.content-container {
    display: flex;
    padding: 20px;
    background-color: #f2f2f2;
}

.left-content,
.right-content {
    flex: 1;
    padding: 10px;
}

.bottom-section {
    padding: 20px;
    background-color: #f2f2f2;
}

.folder {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.img-post-2 {
    background-image: url('imagens/flor-em-pe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post {
    display: flex;
    min-height: 600px;
    flex: 1;
    gap: 10px;
}

.post-1 {
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
}

.post-1 > * {
    flex: 1;
}

.post-2 {
    flex-direction: column;
    justify-content: end;
    color: black;
    box-sizing: border-box;
    padding: 20px;
    min-width: calc(1024px / 3);
}

.text-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* .container-paisagem {
    flex: 10;
    background-image: url('imagens/varias-flor.avif');
    justify-content:space-between;
    align-items: end;
    display: flex;
} */
.container-paisagem {
    flex: 10;
    background-image: url('imagens/varias-flor.avif');
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
  