/* Reset de margens e paddings para todos os elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilo do corpo da página */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* Estilo para o cabeçalho principal (topo da página) */
.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo para o botão de fechar */
.close-button {
    background-color: #ffcc00; /* Cor de fundo amarela */
    color: #333; /* Cor do texto do "X" */
    border: none;
    width: 30px; /* Largura */
    height: 30px; /* Altura (mesma que a largura para formar um círculo) */
    border-radius: 50%; /* Transformando em formato de círculo */
    font-size: 16px; /* Tamanho da fonte */
    line-height: 30px; /* Alinhar o "X" verticalmente */
    text-align: center; /* Alinhar o "X" horizontalmente */
    cursor: pointer; /* Cursor alterado para indicar que é um botão clicável */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.buy-button {
    border: none;
    border-radius: 20px; /* Tamanho do raio determina o quanto o botão será arredondado */
    background-color: #ffcc00; /* Cor de fundo amarela */
    color: #000; /* Cor do texto preto */
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte do texto */
    cursor: pointer; /* Cursor alterado para indicar que é um botão clicável */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.button-filter{
    border: none;
    border-radius: 20px; /* Tamanho do raio determina o quanto o botão será arredondado */
    background-color: #ffcc00; /* Cor de fundo amarela */
    color: #000; /* Cor do texto preto */
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte do texto */
    cursor: pointer; /* Cursor alterado para indicar que é um botão clicável */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.image-prices {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Adicione margem entre as divs para espaçamento */
}

.dot-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(500%);
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Cores das bolinhas */
.dot:nth-child(1) {
    background-color: yellow;
}

.dot:nth-child(2) {
    background-color: orangered;
}

.dot:nth-child(3) {
    background-color: orange;
}

.dot:nth-child(4) {
    background-color: yellowgreen;
}

.button-filter2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 6%;
    left: 35%;
    transform: translateX(-140%);
    border: none;
    border-radius: 20px; /* Tamanho do raio determina o quanto o botão será arredondado */
    background-color: #ffcc00; /* Cor de fundo amarela */
    color: #000; /* Cor do texto preto */
    padding: 3px 10px; /* Espaçamento interno do botão */
    font-size: 14px; /* Tamanho da fonte do texto */
    cursor: pointer; /* Cursor alterado para indicar que é um botão clicável */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo para as seções da página */
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd; /* Adicionando a linha cinza abaixo da navegação */
    margin: 0 auto;
    max-width: 1024px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ddd;
    background-color: #333;
    margin: 0 auto;
    max-width: 1024px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

/* Estilo para a navegação principal e secundária (listas) */
.primary-nav ul,
.secondary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

/* Estilo para os itens de navegação principal e secundária (itens da lista) */
.primary-nav li,
.secondary-nav li {
    margin-left: 10px;font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo para os links da navegação principal e secundária */
.primary-nav li a,
.secondary-nav li a {
    color: black;
    text-decoration: none; /* Removendo o sublinhado */
    padding: 5px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo para o contêiner de uma postagem */
.post {
    display: flex;
    min-height: 600px;
    flex: 1;
    gap: 10px;
}

/* Estilo para a primeira postagem */
.post-1 {
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilo para os elementos dentro da primeira postagem */
.post-1 > * {
    flex: 1;
}

/* Estilo para a terceira postagem */
.post-3 {
    flex-direction: column;
    justify-content: end;
    color: black;
    box-sizing: border-box;
    padding: 20px;
    min-width: calc(1024px / 3);
}

/* Estilo para o grupo de texto dentro da terceira postagem */
.text-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo para a segunda postagem */
.post-2 {
    flex: 10;
    justify-content: space-between;
    align-items: end;
    display: flex;
    color: #ddd;
    padding: 20px;
    min-width: calc(1024px / 3);
}

/* Estilo para a imagem de fundo da segunda postagem */
.img-post-2 {
    background-image: url('imagens/varias-flor.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Estilo para a imagem de fundo da terceira postagem */
.img-post-3 {
    background-image: url('imagens/flor-em-pe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Estilo geral para o cabeçalho H1 */
h1 {
    margin: 0 auto;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* Estilo para a classe .logo */
.logo {
    width: 50px;
    height: auto;
}

/* Estilo para a classe .folder */
.folder {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.paragrafy{
 text-align: left;
 font-size: 20px; 
 padding-top: 30px;
 padding-bottom: 30px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
/* Estilo para as divs que contêm a imagem e o texto */
.image-prices {
    float: left; /* Alinha os elementos à esquerda, fazendo com que fiquem um ao lado do outro */
    width: 35%; /* Define a largura da div como 25% para que quatro divs caibam lado a lado */
    max-width: 350px; /* Define a largura máxima da div para que as imagens não fiquem muito grandes */
    padding: 5px; /* Adiciona um espaço de preenchimento para separar as divs */
  }
  
  /* Estilo para as imagens */
  .image-prices img {
    width: 100%; /* Define a largura da imagem como 100% para que ela ocupe toda a largura da div */
    height: auto; /* Mantém a proporção da imagem, ajustando automaticamente a altura */
  }
  
  